* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* header */

.debug .nav_bar {
  width: 100%;
  height: 60px;
  background-color: crimson;
}

.nav_bar {
  width: 100%;
  height: 60px;
}

.debug .first {
  width: 50%;
  height: 60px;
  float: left;
  background-color: coral;
}

.Discord {
  padding: 1rem;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  float: left;
}

.menu li {
  display: inline-block;
  list-style: none;
  padding: 1rem;
  float: left;
}

.menu li a {
  text-decoration: none;
  color: black;
  float: left;
}

.debug .second {
  width: 50%;
  height: 60px;
  float: left;
  background-color: cadetblue;
}

.menu1 li {
  display: inline-block;
  list-style: none;
  padding: 1rem;
  float: right;
}

.menu1 {
  margin-right: 100px;
}

.menu1 li a {
  text-decoration: none;
  color: black;
  float: right;
}

.but_start {
  background-color: #0061ff;
  text-decoration: none;
  color: white;
  padding: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

/* ./header */

/* main */

.debug .content {
  width: 100%px;
  height: 5000px;
  margin: auto;
  background-color: yellow;
}

.content {
  width: 100%;
  height: 5000px;
}

.debug .hero_image {
  width: 100%;
  height: 600px;
  background-color: cornflowerblue;
}

.debug .small {
  width: 1100px;
  height: 2000px;
  margin: auto;
  background-color: rgb(0, 255, 191);
}

.small {
  width: 1100px;
  height: 2000px;
  margin: auto;
}

.debug .one {
  background-color: crimson;
  height: 200px;
}

.debug .two {
  background-color: rgb(220, 20, 177);
  height: 200px;
}

.debug .three {
  background-color: rgb(147, 20, 220);
  height: 200px;
}

.debug .four {
  background-color: rgb(33, 20, 220);
  height: 200px;
}

.debug .five {
  background-color: rgb(20, 220, 127);
  height: 200px;
}

.debug .questions {
  background-color: rgb(207, 220, 20);
  height: 800px;
}

.debug .large {
  width: 100%;
  height: 300px;
  margin: auto;
  background-color: rgb(0, 195, 255);
}

.large {
  width: 100%;
  height: 300px;
  margin: auto;
}

.content {
  width: 100%;
  height: 800px;
}

/* ./main */

/* footer */

.debug .copyright {
  width: 100%;
  height: 600px;
  background-color: lightskyblue;
}

.copyright {
  width: 100%;
  height: 600px;
}

.columns {
  width: 1100px;
  margin: auto;
  height: 300px;
  background-color: darkblue;
}

.debug .col {
  float: left;
  width: 100%;
  height: 400px;
}

.debug .col_1 {
  background-color: darkcyan;
  float: left;
  width: 20%;
  height: 400px;
}

.debug .col_2 {
  background-color: rgb(49, 0, 139);
  float: left;
  width: 20%;
  height: 400px;
}

.debug .col_3 {
  background-color: rgb(8, 143, 80);
  float: left;
  width: 20%;
  height: 400px;
}

.debug .col_4 {
  background-color: rgb(131, 197, 7);
  float: left;
  width: 20%;
  height: 400px;
}

.debug .col_5 {
  background-color: rgb(0, 83, 139);
  float: left;
  width: 20%;
  height: 400px;
}

/* ./footer */
